.newsArea {
    padding: 100px 0;
}

.NewsBox {
    max-width: 395px;
    padding-bottom: 50px;
    margin: auto;
}

.newsImgBox {
    height: 222px;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.newsImgBox img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.newsSlider .swiper-scrollbar-drag {
    background-color: #172841;
    height: 6px;
    border-radius: 3px;
}

.newsSlider .swiper-scrollbar {
    height: 16px;
    padding: 5px;
    border: 1px solid #C3C3C3;
    border-radius: 7px;
}

.newsArea .newsHeading {
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    color: var(--bsColor11);
    margin-bottom: 20px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newsArea p {
    color: var(--fontColor);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.newsBtn {
    min-width: 152px;
}

/* responsive */
@media(max-width: 1399.98px) {}

@media(max-width: 1199.98px) {}

@media(max-width: 991.98px) {}

@media(max-width: 767.98px) {}

@media(max-width: 575.98px) {
    .newsArea {
        padding: 50px 0;
    }
}

@media(max-width: 424.98px) {}