footer {
    background-image: url(../../assets/images/footerBack.png);
    background-size: cover;
    padding: 30px 0;
}

.footerBottom {
    padding-top: 30px;
    border-top: 1px solid #ffffff1a;
}

.footerTop {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footerImgBox {
    width: 221px;
    height: 69px;
}

.footSubTitle {
    max-width: 267px;
    font-size: 14px;
}

.footerSocial {
    gap: 15px;
}

.footerSocial a {
    width: 28.363636016845703px;
    height: 28.363636016845703px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--bs-white);
}

.footerSocial a:hover {
    background-color: var(--bs-white);
    color: var(--bsColor1);
}

.footLinkHead {
    font-weight: 600;
    font-size: 18px;
    color: var(--bsGreen);
    margin-bottom: 23px;
}

.footerNav {
    color: var(--bs-white);
    text-transform: capitalize;
}

.footerNav:hover {
    color: var(--bsGreen);
}

.footerTop {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footerTop li {
    margin-bottom: 10px;
}

.footerBottom p {
    margin-bottom: 0;
    font-size: 13px;
}

.addressFoot {
    max-width: 251px;
}

.backToTop {
    width: 70px;
    height: 70px;
    background-color: #3FB481BF;
    backdrop-filter: blur(15px);
    box-shadow: 0px 14px 35px 0px #00000040;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 70px;
    /* right: 70px; */
    /* top: 0; */
    transform: translate(0, -50%);
    position: sticky;

    margin-top: -71px;
    z-index: 6;
    margin-right: auto;
    margin-left: 0;
    bottom: 50px;
}


.backToTop:hover {
    backdrop-filter: blur(30px);
    box-shadow: 0px 14px 35px 0px #00000080;
}

/* responsive */
@media(max-width: 1399.98px) {
    .backToTop {
        left: 50px;
    }
}

@media(max-width: 1199.98px) {
    .footerTop {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    /* .backToTop {
        width: 70px;
        height: 70px;
        font-size: 30px;
        margin-top: -70px;
        bottom: 30px;
    } */
}

@media(max-width: 991.98px) {}

@media(max-width: 767.98px) {}

@media(max-width: 575.98px) {
    .footerTop {
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;
    }

    .footSubTitle {
        margin: auto;
    }

    .footerSocial {
        justify-content: center;
    }

    .addressFoot {
        max-width: 100%;
    }

    .backToTop {
        width: 50px;
        height: 50px;
        font-size: 25px;
        margin-top: -50px;
        bottom: 20px;
        left: 20px;
    }
}

@media(max-width: 424.98px) {}