/* font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --bsColor: #1D60E4;
    --bsColor1: #223259;
    --bsColor11: #1F2E46;
    --bsGreen: #8DF7C9;
    --bsGreen1: #2FD88F;
    --bsGreen2: #8DF7C9;
    --bsGreen3: #00B790;
    --fontColor: #39476A;
    --fontColor1: #1F4182;
    --colorBlue: #001F79;
}

.jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
}

.roboto {
    font-family: "Roboto", sans-serif;
}

.button {
    border-radius: 30px;
    border: 1px solid var(--bsColor);
    height: 50px;
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    color: var(--bsColor11);
    padding: 7px;
}

.button div {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-image: linear-gradient(180deg, #7AA6FD 0%, #1D60E4 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-white);
    font-size: 14px;
}

.button:hover {
    background-image: linear-gradient(180deg, #7AA6FD 0%, #1D60E4 100%);
    border: 1px solid transparent;
    color: var(--bs-white);
    transition: all 0.2s linear;
}

.button:hover div {
    background-image: linear-gradient(180deg, #ffffff 0%, #ffffff 100%);
    color: var(--bsColor);
}

.button:hover div img {
    filter: invert(1);
}

.button1 {
    background-image: linear-gradient(0deg, #1F2E46 0%, #415474 100%);
    color: var(--bs-white);
    border: 1px solid transparent;
    background-color: transparent;
}

.button1 div {
    background-color: var(--bs-white);
    color: var(--bsColor11);
    background-image: none;
}

.button1:hover {
    background-image: none;
    color: var(--bsColor11);
    border: 1px solid var(--bsColor11);
}

.button1:hover div {
    background-color: transparent;
    background-image: linear-gradient(0deg, #1F2E46 0%, #415474 100%);
    color: var(--bs-white);
}

.bannerHeader {
    font-weight: 600;
    font-size: 64px;
    color: var(--bsColor);
}

.heading {
    font-weight: 700;
    font-size: 48px;
    color: var(--bsColor);
}

/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}


/* Target element (can be body or a specific div) */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: #DDE7E5;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bsGreen3);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #008468;
}

.modal-content {
    box-shadow: 0px 0px 104px 10px #00000069;
}

.modal-title {
    color: var(--bsColor);
}

.flex-1 {
    flex: 1;
}

/* responsive */
@media(max-width: 1399.98px) {}

@media(max-width: 1199.98px) {}

@media(max-width: 991.98px) {}

@media(max-width: 767.98px) {
    .bannerHeader {
        font-size: 45px;
    }

    .heading {
        font-size: 35px;
    }
}

@media(max-width: 575.98px) {
    .bannerHeader {
        font-size: 35px;
    }
}

@media(max-width: 424.98px) {
    .heading {
        font-size: 26px;
    }
}